.header {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  
}

.nav-item {
  font-weight: 600;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
}

/* 新增一个类名，假设 primary 色已经定义 */
.nav-item-primary {
  color: var(--primary-color); /* 假设 primary 色通过 CSS 变量定义 */
}

/* 新增选中状态样式 */
.nav-item-active {
  color: var(--primary-color);
  /* 你可以根据需求添加其他样式，如背景色、下划线等 */
  text-decoration: underline;
}